{% extends 'body.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for type, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible alert-solid alert-label-icon fade show" role="alert">
                <i class="ri-check-double-line label-icon"></i> {{ message }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% if user_role.alias == 'ROLE_STATION' %}
        <div class="row">
            {{ include('price/kpi/_site.info.html.twig') }}
            {{ include('price/kpi/_wholesale.price.info.html.twig') }}
            {{ include('price/kpi/_actual.price.info.html.twig') }}
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1 fs-3 text-primary">
                {% if user_role.alias == 'ROLE_STATION' %}
                    <i class="las la-history bg-soft-primary rounded-circle fs-2 p-1"></i> Historique
                {% else %}
                    <i class="las la-info bg-soft-primary rounded-circle fs-2 p-1"></i> Liste des demandes émises
                {% endif %}
                <p class="text-uppercase fw-medium mt-3 mb-0 fs-6">
                    Liste des demandes émises sur système. Par défaut, les résultats sont limitées
                    sur <b>{{ limit_for_list }}</b> jour(s).
                </p>
            </h4>
            {% if user_role.alias == 'ROLE_STATION' %}
                <div class="flex-shrink-0">
                    <a href="{{ path('app_price_new') }}" class="btn btn-primary btn-md">
                        <i class="las la-plus-circle"></i>
                        <span class="kt-hidden-mobile">Nouveau changement de prix</span>
                    </a>
                </div>
            {% endif %}
        </div>
        <!-- end card header -->

        <!-- start card body -->
        <div class="card-body">
            <table id="buttons-datatables" class="display table table-striped table-responsive dataTable">
                <thead class="table-secondary">
                <tr>
                    <th>Id</th>
                    <th>Station</th>
                    <th>Evnt. HO</th>
                    <th>GASOIL</th>
                    <th>SSP</th>
                    <th>Mélange</th>
                    <th>Saisie le</th>
                    <th>Appliquée le</th>
                    <th><i class="las la-laptop-code"></i></th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% set new_row = true %}
                {% for price in prices %}
                    <tr {% if new_row %} class="newrow"{% endif %}>
                        {% set new_row = false %}
                        <td>{{ price.id }}</td>
                        <td>
                            <b>{{ price.gasStation.codeSap }}</b> -
                            <a href="{{ path('app_gas_station_show', { 'id': price.gasStation.id }) }}">
                                {{ price.gasStation.libelle }}
                            </a>
                            {% if price.gasStation.supervisor.id != 0 %}
                                <br>
                                <small>
                                    <i class="las la-user-tie bg-soft-primary rounded-circle fs-5 p-1"></i>
                                    {{ price.gasStation.supervisor.firstName ~ ' - ' ~ price.gasStation.supervisor.lastName }}
                                </small>
                            {% endif %}
                        </td>
                        <td>{{ price.eventNumHO }}</td>
                        <td>
                            {% for price_row in price.priceRows %}
                                {% if price_row.grade.id == 2 %}
                                    <span class="badge rounded-pill bg-success fs-6">
                                        {{ price_row.newValue }}
                                    </span>
                                    {% if price_row.newValue > price_row.oldValue %}
                                        <i class="mdi mdi-trending-up align-middle me-1 text-success fs-5"></i>
                                    {% else %}
                                        <i class="mdi mdi-trending-down align-middle me-1 text-danger fs-5"></i>
                                    {% endif %}
                                    <br>
                                    <span class="badge badge-soft-primary rounded-pill text-decoration-underline fs-7 mt-1">
                                        {{ price_row.oldValue }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for price_row in price.priceRows %}
                                {% if price_row.grade.id == 1 %}
                                    <span class="badge rounded-pill bg-success fs-6">
                                        {{ price_row.newValue }}
                                    </span>

                                    {% if price_row.newValue > price_row.oldValue %}
                                        <i class="mdi mdi-trending-up align-middle me-1 text-success fs-5"></i>
                                    {% else %}
                                        <i class="mdi mdi-trending-down align-middle me-1 text-danger fs-5"></i>
                                    {% endif %}
                                    <br>
                                    <span class="badge badge-soft-primary rounded-pill text-decoration-underline fs-7 mt-1">
                                        {{ price_row.oldValue }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for price_row in price.priceRows %}
                                {% if price_row.grade.id not in [1,2] %}
                                    {% set color = "" %}
                                    {% set icon = "" %}
                                    {% if price_row.newValue > price_row.oldValue %}
                                        {% set color = "success" %}
                                        {% set icon = "mdi-trending-up" %}
                                    {% else %}
                                        {% set color = "danger" %}
                                        {% set icon = "mdi-trending-down" %}
                                    {% endif %}
                                    <div class="alert bg-soft-primary alert-dismissible alert-solid alert-label-icon fade show pe-0 py-1 mx-0 my-1"
                                         role="alert">
                                        <i class="label-icon fs-6">
                                            <b>{{ price_row.grade.libelle }}</b>
                                        </i>
                                        <strong>
                                            <span class="badge badge-info bg-info rounded-pill fs-6">{{ price_row.newValue }}</span>
                                        </strong>
                                        <i class="mdi {{ icon }} text-{{ color }}"></i>
                                        <span class="badge badge-soft-dark rounded-pill text-decoration-underline fs-7 mt-1">
                                            {{ price_row.oldValue }}
                                        </span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if price.createdAt %}
                                <i class="las la-calendar-alt bg-soft-primary rounded-circle p-1"></i> {{ price.createdAt|date('d/m/Y') }}
                                <br>
                                <i class="las la-clock bg-soft-primary rounded-circle p-1 mt-1"></i> {{ price.createdAt|date('H:i') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if price.appliedAt %}
                                <span class="fw-bold">
                                    <i class="las la-calendar-alt bg-soft-success rounded-circle p-1"></i> {{ price.appliedAt|date('d/m/Y') }}<br>
                                    <i class="las la-clock bg-soft-success rounded-circle p-1 mt-1"></i> {{ price.appliedAt|date('H:i') }}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if price.priceStatistics %}
                                <b>{{ price.priceStatistics.source }}</b><br>
                                {% if price.priceStatistics.webPlateform == 'Android' %}
                                    <i class="mdi mdi-android bg-success text-light rounded-circle fs-5 px-1"></i>
                                    <span class="badge badge-soft-primary rounded-pill fs-7">
                                        {{ price.priceStatistics.buildVersion }}
                                    </span>
                                {% else %}
                                    {% set wpf = price.priceStatistics.webPlateform|split('|', 3) %}
                                    {% if 'Safari' in wpf[0] %}
                                        <i class="mdi mdi-apple-safari bg-success text-light rounded-circle fs-5 px-1"
                                           title="{{ wpf[0] }}"></i>
                                        <span class="badge badge-soft-primary rounded-pill fs-7">
                                            {{ wpf[1] }}
                                        </span>
                                    {% elseif 'Chrome' in wpf[0] %}
                                        {% set wpf_chrome = wpf[1]|split('.', 4) %}
                                        <i class="mdi mdi-google-chrome badge-gradient-danger text-light rounded-circle fs-5 px-1"
                                           title="{{ wpf[0] }}"></i>
                                        <span class="badge badge-soft-primary rounded-pill fs-7">
                                            {{ wpf_chrome[0] }}
                                        </span>
                                    {% elseif 'Firefox' in wpf[0] %}
                                        {% set wpf_chrome = wpf[1]|split('.', 4) %}
                                        <i class="mdi mdi-firefox bg-warning text-light rounded-circle fs-5 px-1"
                                           title="{{ wpf[0] }}"></i>
                                        <span class="badge badge-soft-primary rounded-pill fs-7">
                                            {{ wpf_chrome[0] }}
                                        </span>
                                    {% endif %}<br>
                                    <span class="badge text-dark fs-7">{{ wpf[0] }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <span class="fw-bold">
                                <i class="las {{ price.priceStatus.icon }} bg-soft-{{ price.priceStatus.color }} rounded-circle p-1 mt-1"></i>
                                <span class="text-{{ price.priceStatus.color }}">{{ price.priceStatus.libelle }}</span>
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-icon btn-sm waves-effect waves-light ml-2 ms-2"
                               href="{{ path('app_price_show', {'id': price.id}) }}"
                               title="Modifier">
                                <i class="las la-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- end card body -->
    </div>
{% endblock %}