<div class="col-auto layout-rightside-col">
    <div class="overlay"></div>
    <div class="layout-rightside">
        <div class="card h-100 rounded-0">
            <div class="card-body p-0">

                {% if user_role.alias == 'ROLE_SUPER_ADMIN' %}
                    <div class="p-3">
                        <h6 class="text-muted mb-0 text-uppercase fw-semibold">Activité récente</h6>
                    </div>
                    <div data-simplebar style="max-height: 410px;" class="p-3 pt-0">
                        <div class="acitivity-timeline acitivity-main">

                            {% for recent_activity in recent_activities %}
                                <div class="acitivity-item py-2 d-flex">
                                    <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                        <div class="avatar-title bg-soft-{{ recent_activity.status.color }} text-{{ recent_activity.status.color }} rounded-circle">
                                            <i class="las {{ recent_activity.status.icon }} fs-3"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-1 py-1">
                                        <h6 class="mb-1 lh-base bg-soft-{{ recent_activity.status.color }} text-{{ recent_activity.status.color }}">
                                            <span class="fw-semibold p-1">Statut : {{ recent_activity.status.libelle }}</span>
                                        </h6>
                                        <p class="text-muted my-0">
                                            <i class="las la-gas-pump bg-soft-primary rounded-circle fs-5 p-1"></i>
                                            {{ recent_activity.gasStation.libelle }}
                                        </p>
                                        <div class="text-muted my-1">
                                            {% for price_row in recent_activity.priceRows %}
                                                {% if price_row.grade.id == 2 %}
                                                    <span class="badge rounded-pill bg-info">
                                                    GASOIL : {{ price_row.newValue }}
                                                </span>
                                                {% elseif price_row.grade.id == 1 %}
                                                    <span class="badge rounded-pill bg-success">
                                                    SSP : {{ price_row.newValue }}
                                                </span>
                                                {% elseif price_row.grade.id not in [1,2] %}
                                                    <span class="badge rounded-pill bg-success">
                                                    {{ price_row.grade.libelle }} : {{ price_row.newValue }}
                                                </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <p class="mb-0 text-muted">
                                            <small>
                                                <i class="las la-clock bg-soft-success rounded-circle p-1 f-5 mt-1"></i>
                                                <span class="fw-bold">
                                                {{ recent_activity.appliedAt|date('d/m/Y') }}
                                            </span> à
                                                <span class="fw-bold">
                                                {{ recent_activity.appliedAt|date('H:i') }}
                                            </span>
                                            </small>
                                        </p>
                                        <hr class="mb-0 text-muted"/>
                                    </div>
                                </div>
                            {% else %}
                                <!-- danger Alert -->
                                <div class="alert alert-danger" role="alert">
                                    <i class="las la-tired fs-5"></i> <strong>Pas d'activité récement perçue! </strong>
                                    Revenez plus tard.
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="p-3 mt-2">
                        <h6 class="text-muted mb-3 text-uppercase fw-semibold">
                            Top 10 Categories
                        </h6>
                        <ol class="ps-3 text-muted">

                            <li class="py-1">
                                <a href="#" class="text-muted">
                                    Mobile & Accessories
                                    <span class="float-end">(10,294)</span>
                                </a>
                            </li>

                        </ol>
                        <div class="mt-3 text-center">
                            <a href="#" class="text-muted text-decoration-underline">
                                View all Categories
                            </a>
                        </div>
                    </div>
                {% endif %}
                <!--
                <div class="p-3">
                    <h6 class="text-muted mb-3 text-uppercase fw-semibold">Products Reviews</h6>
                    <div class="swiper vertical-swiper" style="height: 250px;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card border border-dashed shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-sm">
                                                <div class="avatar-title bg-light rounded">
                                                    <img src="{{ asset('images/companies/img-1.png') }}"
                                                         alt="" height="30">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div>
                                                    <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                                                        " Great product and looks great, lots of
                                                        features. "</p>
                                                    <div
                                                            class="fs-11 align-middle text-warning">
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="text-end mb-0 text-muted">
                                                    - by <cite title="Source Title">Force
                                                        Medicines</cite>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card border border-dashed shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="{{ asset('images/users/avatar-3.jpg') }}" alt=""
                                                     class="avatar-sm rounded">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div>
                                                    <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                                                        " Amazing template, very easy to understand
                                                        and manipulate. "</p>
                                                    <div class="fs-11 align-middle text-warning">
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-half-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="text-end mb-0 text-muted">
                                                    - by <cite title="Source Title">Henry
                                                        Baird</cite>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card border border-dashed shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-sm">
                                                <div class="avatar-title bg-light rounded">
                                                    <img src="{{ asset('images/companies/img-8.png') }}"
                                                         alt="" height="30">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div>
                                                    <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                                                        "Very beautiful product and Very helpful
                                                        customer service."</p>
                                                    <div class="fs-11 align-middle text-warning">
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-line"></i>
                                                        <i class="ri-star-line"></i>
                                                    </div>
                                                </div>
                                                <div class="text-end mb-0 text-muted">
                                                    - by <cite title="Source Title">Zoetic
                                                        Fashion</cite>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card border border-dashed shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="{{ asset('images/users/avatar-2.jpg') }}" alt=""
                                                     class="avatar-sm rounded">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div>
                                                    <p class="text-muted mb-1 fst-italic text-truncate-two-lines">
                                                        " The product is very beautiful. I like it.
                                                        "</p>
                                                    <div class="fs-11 align-middle text-warning">
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-half-fill"></i>
                                                        <i class="ri-star-line"></i>
                                                    </div>
                                                </div>
                                                <div class="text-end mb-0 text-muted">
                                                    - by <cite title="Source Title">Nancy
                                                        Martino</cite>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-3">
                    <h6 class="text-muted mb-3 text-uppercase fw-semibold">Customer Reviews</h6>
                    <div class="bg-light px-3 py-2 rounded-2 mb-2">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="fs-16 align-middle text-warning">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                </div>
                            </div>
                            <div class="flex-shrink-0">
                                <h6 class="mb-0">4.5 out of 5</h6>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="text-muted">Total <span class="fw-medium">5.50k</span> reviews
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0">5 star</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <div class="progress animated-progress progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: 50.16%" aria-valuenow="50.16"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0 text-muted">2758</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0">4 star</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <div class="progress animated-progress progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: 29.32%" aria-valuenow="29.32"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0 text-muted">1063</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0">3 star</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <div class="progress animated-progress progress-sm">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                             style="width: 18.12%" aria-valuenow="18.12"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0 text-muted">997</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0">2 star</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <div class="progress animated-progress progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: 4.98%" aria-valuenow="4.98"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0 text-muted">227</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0">1 star</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <div class="progress animated-progress progress-sm">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: 7.42%" aria-valuenow="7.42"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="p-1">
                                    <h6 class="mb-0 text-muted">408</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->

                <div class="card sidebar-alert bg-light border-0 text-center mx-4 mb-0 mt-3">
                    <div class="card-body">
                        <img src="{{ asset('images/playstore.webp') }}" height="50" alt="">
                        <div class="mt-4">
                            <h5>Portail WINXO App</h5>
                            <p class="text-muted lh-base">Notre application est disponible sur la PlayStore</p>
                            <a class="btn btn-primary btn-label rounded-pill"
                               href="https://play.google.com/store/apps/details?id=com.winxo.apag" target="_blank">
                                <i class="ri-download-cloud-2-fill label-icon align-middle rounded-pill fs-16 me-2"></i>
                                Télécharger
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- end card-->
    </div> <!-- end .rightbar-->

</div> <!-- end col -->